@import url('https://fonts.googleapis.com/css?family=Orbitron');
*{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    color:black;
}

body {
    background-color: rgba(13, 71, 161, 0.38);
    background-image: url("https://i.imgur.com/l3POl3f.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
input {
    background-color: #9C9C9C;
    border: 1px solid black;
}
button {
background-color: rgba(255, 0, 0, 0.24);
}
.main {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.58);
    display:none;
}
li {
    display:none;
    font-weight: bold;
}